[phases.setup]
nixPkgs = ["nodejs_22", "python3", "gcc", "gnumake", "pkg-config", "libtool", "autoconf", "automake", "libopus"]

[phases.install]
cmds = ["npm i --prefer-offline"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
